<html>
	<head>
		<title>Create_New_Account</title>
		<link rel="stylesheet" href="styles_2.css">
		<style type="text/css">
		</style>
	</head>

	<body style="background-color:teal;">
			<div class="container">

				<div class="intro">
          <h1 style="color: teal;">SPACE</h1>
          <hr>
					<h1 style="color: black;">Create New Account</h1>
          <div>
  					<form action="/new_user" method="post">
  						<label for="email" style="color: black">
  							Email: <input name="email" id="email" placeholder="Enter your email" />
  						</label>
              <h4></h4>
  						<label for="message" style="color: black">
  							Password: <input type="text" name="password" id="message"></input>
  						</label>
              <h4></h4>
              			<input id="sub-but" type="submit" value="Create New Acccount">
              <hr>
  					</form>
  				</div>
				</div>
			</div>
	</body>
</html>
